<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
    {% block title %}
    {% endblock title %}
    <style>
        .box
        {
            margin: 2% 7% 2% 7%;
            border: 1px solid #ccc;
            border-radius: 20px;
            background: #ffffff;
            justify-content: center;
            padding: 2%;
        }
    </style>
</head>
<body style="background: #c7c7c7;">
    <div style=" background: #ffffff; padding: 1%; border-bottom-left-radius: 30px; border-bottom-right-radius: 30px;">
        <a href="https://tplus.pro/"
        target="_blank"><img src="{% static 'app1/TPlusLogo.png' %}"
        alt="Tplus"
        style="height:60px;
        display: block;
        margin: auto;
        "></a>
        <h1 style="display: block; text-align: center; margin-top: 15px;">Заявка на спонсирование мероприятия</h1>
    </div>
    <div class="box">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>